﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="internetpetshop2B.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 10px;
            height: 73px;
        }
        .auto-style2
        {
            width: 934px;
            height: 200px;
        }
        .auto-style3
        {
            width: 180px;
            height: 50px;
        }
        .auto-style4
        {
            width: 900px;
            height: 100px;
        }
        .auto-style5
        {
            width: 8880%;
        }
        .auto-style6
        {
            width: 241px;
            height: 121px;
        }
        .auto-style7
        {
            width: 250px;
            height: 118px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <div>
           <center> 
               <img alt="" class="auto-style2" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/banner.jpg" /></center>
        </div>
        <div>
            <table>
                <tr>
                    <td class="auto-style1">


                        <table class="auto-style5">
                            <tr>
                                <td><img alt="" class="auto-style3" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/Buton/1.jpg" /></td>
                                <td rowspan="5">
                                    <img alt="" class="auto-style7" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/anasayfa%20resim/akvaryum.png" /><img alt="" class="auto-style6" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/anasayfa%20resim/3.png" /><img alt="" class="auto-style6" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/anasayfa%20resim/5.png" /><img alt="" class="auto-style7" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/anasayfa%20resim/kopek.png" /></td>
                            </tr>
                            <tr>
                                <td><img alt="" class="auto-style3" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/Buton/1.jpg" /></td>
                            </tr>
                            <tr>
                                <td>


                        <img alt="" class="auto-style3" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/Buton/1.jpg" /></td>
                            </tr>
                            <tr>
                                <td><img alt="" class="auto-style3" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/Buton/1.jpg" /></td>
                            </tr>
                            <tr>
                                <td><img alt="" class="auto-style3" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/Buton/1.jpg" /></td>
                            </tr>
                        </table>
                        &nbsp;<img alt="" class="auto-style4" src="file:///D:/TUANA%20PETSHOP%20-%20YEDEKK/web/resimler/reklam.jpg" /></td>
                    <div>
                      
                    </div>
                </tr>
            </table>
        </div>
    
    </div>
    </form>
</body>
</html>
